//For 1360 and above
@import "variables.scss";

.stealth {
  display: none;
}

body {
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 100%;
}

.myname-block {
  position: relative;
  display: grid;
  grid-template-columns: 56% 44%;

  //background-color: blue;
  //183.00929843
}

.myname-images {
  position: relative;

  mix-blend-mode: normal;

  // background-color: pink;
  img {
    margin-top: 8%;
    margin-left: 10%;
    width: 95%;
    mix-blend-mode: hard-light;
  }
  &:before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 100%;
    background-color: $nav-purple;
    height: calc(100%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 15vw, 0% 15vw);
    mix-blend-mode: multiply;
  }
}

.myname-text {
  position: relative;
  color: $text-purple;
  font-family: fieldwork geo demibold, sans-serif;
  font-size: 2vw;
  text-align: right;
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  margin-left: -10%;

  .mn-text-1 {
    text-align: left;
    margin-left: -11%;
    margin-bottom: -1vw;
  }

  .mn-text-2 {
    display: block;
    width: 100%;
    font-family: piepie, sans-serif;
    font-size: 7.5vw;
    margin-top: 0px;
    margin-left: -13%;

    text-transform: uppercase;
  }

  .mn-text-3 {
    display: block;
    text-transform: uppercase;
    width: 100%;
    font-family: piepie, sans-serif;
    font-size: 7.5vw;

    margin-left: -10%;
  }

  .mn-text-4 {
    display: block;

    padding-left: 20%;
    margin-right: 10%;
  }
}

.headshot-block {
  min-height: 30vw;
  background-color: cyan;
  display: grid;
  grid-template-columns: 28% 72%;
  grid-auto-flow: column;
  transform: skewY(-15deg);
  overflow: hidden;

  .headshot-text {
    align-self: center;
    transform: skewY(15deg);
    color: $text-purple;
    text-transform: uppercase;
    text-align: center;

    .hs-text-1 {
      font-size: 5vw;
    }

    .hs-text-2 {
      font-size: 2.6vw;
    }

    .hs-text-3 {
      position: relative;
      display: block;
      margin-top: -1vw;
      font-size: 7vw;
    }

    .hs-text-4 {
      font-size: 3vw;

      line-height: 3vw;
    }
  }
  .headshot-image {
    position: relative;
    mix-blend-mode: darken;
    margin-top: -19%;
    transform: skewY(15deg);
    img {
      width: 100%;
      position: absolute;
    }
  }
}

.print-block {
  min-height: 50vw;
  transform: skewY(-15deg);
  background-color: #231331;
  display: grid;
  grid-template-columns: 28% 72%;

  .print-icon {
    background-color: white;
  }
  .print-content {
    display: flex;
    justify-content: center;
    .print-carousel {
      margin-top: 5%;

      transform: skewY(15deg);
      width: 35%;
      height: 80%;
      background-color: #231331;
    }
  }

  .print-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    mix-blend-mode: pass-through;
    h2 {
      transform: skewY(15deg);
      color: $text-purple;
      font-size: 4.5vw;
      text-transform: uppercase;
      text-align: center;
    }
    img {
      transform: skewY(15deg);
      margin-top: 2vw;
      width: 60%;
      object-fit: contain;
      mix-blend-mode: hard-light;
    }
  }
}

.after-print {
  width: 100%;
  height: 8vw;
  background-color: $nav-purple;
  transform: skewY(-15deg);
}

.ux-block {
  min-height: 50vw;
  transform: skewY(-15deg);
  background-color: orange;
  display: grid;
  grid-template-columns: 72% 28%;

  .ux-icon {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    h2 {
      transform: skewY(15deg);
      color: $text-purple;
      font-size: 4.5vw;
      text-transform: uppercase;
      text-align: center;
    }
    img {
      transform: skewY(15deg);
      margin-top: 2vw;
      width: 60%;
      object-fit: contain;
      mix-blend-mode: hard-light;
    }
  }

  .ux-content {
    display: flex;
    justify-content: center;
    .ux-carousel {
      margin-top: 5%;

      transform: skewY(15deg);
      width: 35%;
      height: 80%;
      background-color: black;
    }
  }
}

.logos-icon {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  mix-blend-mode: pass-through;
  h2 {
    transform: skewY(15deg);
    color: $text-purple;
    font-size: 4.5vw;
    text-transform: uppercase;
    text-align: center;
  }
  img {
    transform: skewY(15deg);
    margin-top: 2vw;
    width: 60%;
    object-fit: contain;
    mix-blend-mode: normal;
  }
}

.contact-block {
  position: relative;
  min-height: 20vw;
  transform: skewY(-15deg);

  display: grid;
  grid-template-columns: 28% 72%;
  margin-bottom: 5.5vw;

  .spy {
    background-color: cyan;
    overflow: hidden;

    img {
      transform: skewY(15deg);
      mix-blend-mode: darken;
      object-fit: cover;
      height: 120%;
      top: -10%;
      position: relative;
    }
  }

  .contact-content {
    display: flex;

    justify-content: center;
    .contact-group {
      display: flex;
      width: 90%;
      flex-wrap: wrap;
      transform: skewY(15deg);
      align-self: center;
      justify-content: center;
      button {
        padding-left: 1vw;
        padding-right: 1vw;
        align-self: center;
        display: inline;
        border-radius: 5%;
        background-color: #ff5d5d;
        font-family: "piepie";
        font-size: 5vw;
        border: 0.5vw solid #550098;
        color: #ffbaba;
        text-shadow: 0.5vw 0.5vw #35005e;
        height: -moz-fit-content;
        height: fit-content;
        padding-bottom: 1vw;
      }
      h2 {
        width: 100%;
        margin-bottom: 3vw;
        color: $text-purple;
        font-size: 9vw;
        text-transform: uppercase;
        text-align: center;
      }

      img {
        margin-left: 4vw;
        width: 20vw;
        object-fit: contain;
      }
    }
  }
}

.footer {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 8vw;
  background-color: $nav-purple;

  &:before {
    content: "";
    position: absolute;
    top: -7vw;
    left: 0;
    width: 100%;
    background-color: $nav-purple;
    height: calc(100%);
    clip-path: polygon(75% 100%, 100% 25%, 100% 100%);
    mix-blend-mode: normal;
  }
}
.nav-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
  background-color: $nav-purple;
  mix-blend-mode: hard-light;
  min-height: 2.5rem;

  .burger-button {
    justify-self: right;
  }
}
///CAROUSEL//
.BrainhubCarousel.BrainhubCarousel--isRTL {
  direction: rtl;
}
.BrainhubCarousel.BrainhubCarousel--isRTL .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
  direction: rtl;
}
.BrainhubCarouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.BrainhubCarouselItem.BrainhubCarouselItem--clickable {
  cursor: pointer;
}
.BrainhubCarouselItem .debug-number {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-shadow: 0px 0px 9px white;
}
.BrainhubCarousel__container {
  width: 100%;
  overflow: hidden;
}
.BrainhubCarousel {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.BrainhubCarousel.BrainhubCarousel--isRTL {
  direction: rtl;
}
.BrainhubCarousel.BrainhubCarousel--isRTL .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
  direction: rtl;
}
.BrainhubCarousel .BrainhubCarousel__trackContainer {
  width: 100%;
  overflow: hidden;
}
.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
  display: flex;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track.BrainhubCarousel__track--transition {
  transition: transform;
}
.BrainhubCarousel__arrows {
  cursor: pointer;
  z-index: 9999;
}
.BrainhubCarousel__loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 4px solid #7b59ff;
  border-left-color: transparent;
  -webkit-animation: loader 1s infinite linear;
  animation: loader 1s infinite linear;
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.BrainhubCarousel__arrows {
  position: relative;
  padding: 21px;
  border: none;
  overflow: hidden;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background-color: #7b59ff;
}
.BrainhubCarousel__arrows span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #fff;
  border-width: 3px 3px 0 0;
  padding: 5px;
  transition: 0.3s;
  font-size: 0;
}
.BrainhubCarousel__arrows:hover {
  background-color: #8768ff;
}
.BrainhubCarousel__arrows:hover span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #fff;
  border-width: 3px 3px 0 0;
  padding: 5px;
  transition: 0.3s;
  font-size: 0;
}
.BrainhubCarousel__arrows:hover:enabled {
  background-color: #8768ff;
}
.BrainhubCarousel__arrows:hover:enabled span {
  border-color: #fff;
  margin: 0;
}
.BrainhubCarousel__arrows:disabled {
  background-color: #ccc;
}
.BrainhubCarousel__arrowLeft span {
  transform: translate(-50%, -50%) rotate(-135deg);
  margin-left: 2.45px;
}
.BrainhubCarousel__arrowRight span {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2.45px;
}
.BrainhubCarousel--isRTL .BrainhubCarousel__arrowLeft span {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2.45px;
}
.BrainhubCarousel--isRTL .BrainhubCarousel__custom-arrowLeft span {
  transform: rotate(180deg);
}
.BrainhubCarousel--isRTL .BrainhubCarousel__arrowRight span {
  transform: translate(-50%, -50%) rotate(-135deg);
  margin-left: 2.45px;
}
.BrainhubCarousel--isRTL .BrainhubCarousel__custom-arrowRight span {
  transform: rotate(-180deg);
}
.BrainhubCarousel--isRTL .BrainhubCarousel__arrows:hover span {
  margin: 0;
}
.BrainhubCarousel__arrow--disable {
  pointer-events: none;
}
.BrainhubCarousel__dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.BrainhubCarousel__dots.BrainhubCarousel__dots--isRTL {
  direction: rtl;
}
.BrainhubCarousel__dots .BrainhubCarousel__dot {
  outline: 0;
  padding: 10px;
  border: none;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.BrainhubCarousel__dots .BrainhubCarousel__dot.BrainhubCarousel__dot--selected {
  opacity: 1 !important;
}
.BrainhubCarousel__dots .BrainhubCarousel__dot:hover {
  opacity: 1;
}
.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: #000;
}
.BrainhubCarousel__dots .BrainhubCarousel__thumbnail {
  outline: 0;
  padding: 10px;
  border: none;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
}
.BrainhubCarousel__dots .BrainhubCarousel__thumbnail.BrainhubCarousel__thumbnail--selected {
  opacity: 1 !important;
}
.BrainhubCarousel__dots .BrainhubCarousel__thumbnail:hover {
  opacity: 1;
}
.BrainhubCarousel__thumbnail[type="button"] {
  -webkit-appearance: none;
}
.BrainhubCarousel--isRTL + .BrainhubCarousel__dots {
  direction: rtl;
}

//Robert Carou

.BrainhubCarouselItem {
  img {
    width: 130%;
    transform: skewY(15deg);
  }
}
.BrainhubCarousel {
  height: 100%;
}

.BrainhubCarousel .BrainhubCarousel__trackContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track.BrainhubCarousel__track {
  height: 100%;
}

.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track.BrainhubCarousel__track--transition {
  height: 100%;
}
/*
.BrainhubCarousel .BrainhubCarousel__trackContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;

  img {
    transform: skewY(15deg);
  }
}

.BrainhubCarousel {
  height: 100%;
}
*/
